<h3 align="center">{%slot%}</h3>
<hr>
<br>
<div id="__inputGrid">
<input oninput="__getResult()" max="31" min="1" value="1" id="__{%props.arrange%}InputDay" type="number">
<select onchange="__getResult()" id="__{%props.arrange%}InputMonth">
    <option value="1">Ocak</option>
    <option value="2">Şubat</option>
    <option value="3">Mart</option>
    <option value="4">Nisan</option>
    <option value="5">Mayıs</option>
    <option value="6">Haziran</option>
    <option value="7">Temmuz</option>
    <option value="8">Ağustos</option>
    <option value="9">Eylül</option>
    <option value="10">Ekim</option>
    <option value="11">Kasım</option>
    <option value="12">Aralık</option>
</select>
<input {%props.year_disabled?"disabled":""%} oninput="__getResult()" min="0" id="__{%props.arrange%}InputYear" type="number">
</div>

<defer>
    document.querySelector("#__{%props.arrange%}InputYear").value=(new Date()).getFullYear();
    document.querySelector("#__{%props.arrange%}InputMonth").value=(new Date()).getMonth();
    document.querySelector("#__{%props.arrange%}InputDay").value=(new Date()).getDay();
    __getResult();
</defer>

<style>
    #__dateComponent {
    margin:0.5vh;
    padding: 2vh;
    border: solid 1px gray;
}
</style>
