    #__items,#__list {

        background-color: rgb(222, 222, 222);
        padding: 1vw;
        overflow-x: hidden;
        overflow-y: scroll;
        align-items: center;
        border: solid 1px gray;
        height: 100%;
    }
    #__items{
        display: grid;
    }

    #__list{
        display: flex;
        flex-direction: column;
    }
    #__calculate{
        height: 100%;
        border:solid 1px gray;
        padding: 1vw;
        background:rgb(222, 222, 222);
    }

    .__item {
        width: 2vw;
        height: 2vw;
        padding: 3vw;
        font-size: 1.3vw;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: rgba(0, 0, 0, 0.19) solid;
        cursor: pointer;
        user-select: none;
        transition: 0.3s;
    }
    .__listItem{
        padding: 1vw;
        background-color:rgb(201,201,201);
        border:solid rgba(0,0,0,0.35);
        width: 90%;
        user-select: none;
        cursor:pointer;
        box-shadow: 2px 2px 2px rgba(111,111,111,0.5);
        transition: 0.2s ease;
        border:solid 1px rgba(128,128,128,0.44);
        margin: 0.5vh;
    }
    .__listItem:hover {
        box-shadow:none;
    }
    
    .__item>img{
        height: 3vw;
    }

    .__item:hover{
        border:solid black;
    }
    .__itemSelected{
        border-color:black;
    }
    .bgorange{
        background-color: orange;
    }
    .bgpurple{
        background-color: orchid;
    }
    .bgcyan{
        background-color: cyan;
    }
    .bggold{
       background-color: gold; 
    }
    .bgyellowgreen{
        background-color: greenyellow;
    }
    .bgred{
        background-color: rgb(255, 94, 94);
    }

    