<h2>{{__selected}}</h2>
<div id="__panel">
    <div id="__items" class="set" data="__getItems()"/>
    <div id="__list" class="set" data="__getItemsList()"/>
    <div id="__calculate"/>
</div>

<defer>
__thisFolder="./components/applications/variousCalculations";
load.script("./components/applications/variousCalculations/modules/items.js","$$");
load.script(`${__thisFolder}/modules/list.js`,"$$");
</defer>

{%load.styles(["items.css","form.css"],"./components/applications/variousCalculations/styles/","$$","page"),""%}
<style>
    #__{
        height: 80vh;
        width: 80vw;
        background-color: rgb(203, 255, 161);
        border: solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: none;
        overflow-x: none;
        min-height:80vh; 
        padding: 1vw;
    }

    #__panel {
        display: grid;
        grid-gap: 1px;
        justify-content: center;
        align-items: center;
        height: 85%;
        grid-template-columns: 3fr 6fr 8fr;
        background-color: rgba(255, 255, 255, 0.36);
        padding: 2vw;
    }
    #__items {
    min-width: 10vw;
}
    #__list {
    min-width: 15vw;
}
    #__ input{
    max-width: 3vw;
    }
    #__inputGrid {
    display: flex;
    align-items: center;
    justify-content: center;
}





</style>


{%activeApp="Çeşitli Hesaplamalar",document.title="Hesaplamalar",""%}