<div id="__footerFlex">

    <Arrange/>
    <hr class="set" visible="__list[0]">
    <Analysis/>

</div>

{%content.render("./components/applications/todolist/footer/arrangement.html","Arrange","$$"),""%}
{%content.render("./components/applications/todolist/footer/analysis.html","Analysis","$$"),""%}

<style>
    Footer{
        background-color: rgb(185, 185, 185);
        padding:1vh;
        border:solid;
        border-top:none;
    }
    Footer>div{
        display: flex;
        justify-content: center;
    }

    #__footerFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #__footerFlex>*{
        margin:10px;
    }
    #__analysis{
        display: flex;
        flex-direction: column;
    }

</style>