<script>
load.scripts(["equals.js","screenAdd.js","screenControls.js"],"./components/applications/calculator/modules/","$$");
</script>

<div id="__calcTable">

    <div onclick="__screenControls('<sup>POW</sup>')"><div>x<sup>y</sup></div></div>
    <div onclick="__screenControls('%')">%</div>
    <div onclick="__screen.value=__screen.value.slice(0,-1)">&#9249; </div>
    <div onclick="__screenControls('AC')">AC</div>

    <!--TopRow-->
    <div onclick="__screenAdd(9)">9</div>
    <div onclick="__screenAdd(8)">8</div>
    <div onclick="__screenAdd(7)">7</div>
    <div onclick="__screenControls('/')">&divide;</div>

    <!--MidRow-->
    <div onclick="__screenAdd(6)">6</div>
    <div onclick="__screenAdd(5)">5</div>
    <div onclick="__screenAdd(4)">4</div>
    <div onclick="__screenControls('*')">&times;</div>

    <!--BottomRow-->
    <div onclick="__screenAdd(3)">3</div>
    <div onclick="__screenAdd(2)">2</div>
    <div onclick="__screenAdd(1)">1</div>
    <div onclick="__screenControls('-')">&minus;</div>

    <!--Footer-->
    <div onclick="__screenAdd(0)">0</div>
    <div onclick="__screenAdd('.')">.</div>
    <div onclick="__equals()">&equals;</div>
    <div onclick="__screenControls('+')">&plus;</div>

</div>

<style>
    #__calcTable{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 5px;
        row-gap: 5px;
    }
    #__calcTable>div{
        transition: ease-in 0.2s;
        width: 10vh;
        height: 10vh;
        font-size: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: black;
        cursor:pointer;
        user-select: none;
        border: solid 2px;
        border-radius: 7px;
        color:black;
        background-color: rgb(208,208,208);
        box-shadow: 0px;
        border:none;
        z-index: 1;
    }
    #__calcTable>div:hover{
        background-color: rgb(21, 255, 0);
        box-shadow: 0px 0px 7px rgb(0,255,108);
    }
</style>